.order_status_container {
  padding-top: 0.6rem;
  overflow: hidden;
  p {
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: 600;
  }
}

.order_status_container_header {
  h3 {
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Satoshi", sans-serif;
    display: inline-block;
    vertical-align: middle;
  }
}

.order_status_container_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-bottom: 0.5rem;
}

.order_status_container_body {
  text-transform: capitalize;
  font-family: "Satoshi", sans-serif;
}

.order_status_container_body {
  span {
    width: 82.5px;
    padding: 0.25rem 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 1rem;
    font-size: 0.85rem;
    text-align: center;
  }
}

.payment_success_status {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.payment_inprogress_status {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.payment_failure_status {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.payment_completed_status {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.payment_refunded_status {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}
